html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
html,body,div,ul,li,a{margin: 0;padding:0;}
img{boder:0;}
a{text-decoration: none;}


h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

button,input,optgroup,select,textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}
body{
	background-color: #f1f1f1;
}
a:visited{
	color: #743399;
}
a:link{
	color: #0066cc;
}
.boundary{
	margin: 0 auto;
	width:950px;
}
.wrapper{
	background-color: #fff;
	margin-top: 20px;
	padding: 0 20px;
}
.header{
	padding:30px 0 0 0;
}