html,body,div,span,ul,li{
	border: 0;margin: 0;padding: 0;vertical-align: baseline;
}
body{
	background-color: #f1f1f1;
}
body,input,textarea{
	color:#666;
	font-size: 12px;
	line-height: 18px;
}
h1,h2,h3,h4,h5,h6{
	clear: both;
	font-weight: normal;
}
a{
	text-decoration: none;
}
a:visited{
	color: #743399;
}
a:link{
	color: #0066cc;
}
.boundary{
	margin: 0 auto;
	width:950px;
}
#wrapper{
	background: #fff;
	margin-top: 20px;
	padding: 0 20px;
}

#header{
	padding:30px 0 0 0;
}

.branding h1{
	float: left;
	font-size: 30px;
	line-height: 36px;
	margin: 0 0 18px 0;
	width: 700px;
}
.branding h1 a{
	color:#000;
	font-weight: bold;
}
.description{
	clear:right;
	float:right;
	font-style: italic;
	margin: 15px 0 18px 0;
	width: 220px;
}
.access{
	background-color: #000;
	display: block;
	float: left;
	margin: 0 auto;
	width: 940px;
}
.menu{
	font-size: 13px;
	margin-left: 12px;
	width: 928px;
}
.menu ul{
	list-style: none;
}
.menu li{
	float:left;
	position: relative;
}
.menu a{
	display: block;
	line-height: 38px;
	padding: 0 10px;
}
#main{
	clear: both;
	overflow: hidden;
	padding: 40px 0 0 0;
}
#footer{
	margin-bottom: 20px;
	

}
#footer{
	clear: both;
	width:100%;
}
.footer-nav{
	border-top: 4px solid #000;
	margin-top: -4px;
	overflow: hidden;
	padding: 18px 0;
}
.site-info{
	font-weight: bold;
	float: left;
	font-size: 14px;
	width: 700px;
}
.site-info a{
	color: #000;
}
.site-follow{
	font-style: italic;
	position: relative;
	float: right;
	width: 220px;

}
.site-follow a{
	color: #666;
	display: inline-block;
	line-height: 16px;
	padding-left: 20px;
	text-decoration: none;
}











