
<div class="sidebar-module">
  <h4>最新文章</h4>
  <ol class="list-unstyled">
    {% for post in site.posts limit:6 %}
    <li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ol>
</div>
<div class="sidebar-module sidebar-module-inset">
  <h4>关键字</h4>
  <div class="tag-list">
    {% for tag in site.tags %}
        <a href="{{ site.baseurl}}/show_by_tag/?tag={{tag[0]}}">{{tag[0]}}</a>
    {% endfor%}
  </div>
</div>

<div class="sidebar-module">
  <h4>文章分类</h4>
  <ol class="list-unstyled">
    {% for category in site.categories %}
    <li><span class="pull-right">（{{ category | last | size }}）</span><a href="{{ site.baseurl}}/show_by_category/?category={{ category | first }}">{{ category | first }}</a></li>
    {% endfor %}
  </ol>
</div>
    