<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../css/default.css">
</head>
<body>
	<div id="wrapper" class="boundary">
		<div id="header">
			<h1>
				<span>
					<a href="http://chengyifan.github.io/blog/">Bolg of YiFan Cheng</a>
				</span>
			</h1>
			<div class="description">
				一句话介绍自己
			</div>
			<div class="access">
				<div class="menu">
					<ul>
						<li>首页</li>
						<li></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="main">
				<div class="container">
					<div class="post">
						<h2 class="entry-title">
							<a href="">文章标题</a>
						</h2>
						<div class="entry-meta">
							<span>发表于</span>
							<span><a href="">2015/08/19</a></span>
						</div>
						<div class="entry-content">
							<p>文章内容</p>
						</div>
						<div class="entry-utility">
							<span>
								<span>发表在</span>
								<a href="">git</a>
							</span>
						</div>
					</div>
				</div>
				<div class="primary">
					<ul>
						<li class="search"></li>
						<li class="recent-posts">
							<h3>近期文章</h3>
							<ul>
								<li>运动类App的产品分析</li>
								<li>运动类App的产品分析</li>
								<li>运动类App的产品分析</li>
								<li>运动类App的产品分析</li>
								<li>运动类App的产品分析</li>
								<li>运动类App的产品分析</li>
							</ul>
						</li>
						<li>
							<h3>分类目录</h3>
							<ul>
								<li>Javascript</li>
								<li>git</li>
								<li>开发者手册</li>
							</ul>
						</li>
						<li>
							<h3>文章归档</h3>
							<ul>
								<li>2015</li>
								<li>2014</li>
								<li>2013</li>
							</ul>
						</li>
						<li>
							<h3>about me</h3>
							<ul>
								<li>个人简介</li>
								<li>文章：<span>40</span></li>
								<li></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		<div class="footer">
			<div class="footer-nav">
				<div class="site-info">
					<a href="">Blog of YiFan Cheng</a>
				</div>
				<div class="site-follow">
					<a href="">优雅的发布个人博客</a>
				</div>
			</div>
		</div>


	</div>
	
	
	
</body>
</html>